h1 {
  color: $primary;
  font-size: 45px;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  color: $secondary;
  font-size: 40px;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  /* text-decoration: none; */
  color: $gray;
  &:visited {
    color: $gray;
  }
  &:hover,
  &:active,
  &:focus {
    /* text-decoration: none; */
    color: $black;
  }
}
html {
}
body {
  font-family: "Montserrat";
  color: $black;
  background-color: $white;
}
ul {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}
.main {
  min-height: 77vh;
  margin-top: 80px;
  /* margin: 96px; */
}
.wrapper_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
