.wrapper{
    display: flex;
    width: 100%;

    & > div {
        height: 100vh;
        flex: 1;
    }
    .form{
        
        background-color: $white;
        display: flex;
        /* align-items: center; */
        
        justify-content: center;
        .form_item{
            margin-top: 160px;
            width: 400px;
            input{
                width: 100%;
            }
            h1{
                color: $primary;
            }
        }
    }
    
    & > div:first-child{
        background-color: $black;
    }
}