.searchbar_wrapper{
    display: flex;
   /*  justify-content: center; */
    align-items: flex-start;
    height: auto;
    
    input{
        padding-left: 32px;
        width: 520px;
        height: 48px;
        margin: 0;
        border-radius: 2em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
    }
    button{
        padding-right: 16px;
        border-radius: 2em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $input_color;
        margin: 0;
        height: 48px;
        box-shadow: none;

        &:hover{
            box-shadow: none;
            border: none;
            transform: none;
            color: $gray;
        }
    }
}