.details_wrapper{
    display: flex;
    img{
        object-fit: cover;
        width: 500px;
        height: 700px;
        position: relative;
        right: 60px;
        bottom: 80px; 
    }
    .article_wrapper{
        position: relative;
        #content{
            text-align: justify;
        }
        #published{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    

}